name: examples
toolchainRegion: us-east-1
groups:
  - name: networking
    path: manifests/example/networking-modules.yaml
  - name: storage
    path: manifests/example/storage-modules.yaml
targetAccountMappings:
  - alias: primary
    accountId:
      valueFrom:
        envVariable: "1234567890"
    default: true
    regionMappings:
      - region: us-east-1
        default: true

