name: mwaa
path: modules/orchestration/mwaa/
# Use the below if you want to customize a reqs.txt and provide the accurate path as a param
dataFiles:
  - filePath: data/mwaa/requirements/requirements-emr-serverless.txt
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: networking
        name: basic-networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: basic-networking
        key: PrivateSubnetIds
  - name: dag-bucket-name
    valueFrom:
      moduleMetadata:
        group: storage
        name: buckets
        key: ArtifactsBucketName
  - name: dag-path
    value: dags
  - name: airflow-version
    value: "2.2.2"
  - name: custom-requirements-path
    value: data/mwaa/requirements/requirements-emr-serverless.txt
